@using BookCatalog.Portal.Helpers.Extentions
@using BookCatalog.Portal.Helpers.KnownValues

@model IEnumerable<BookCatalog.View.Model.BookVM>

@System.Web.Optimization.Scripts.Render("~/bundles/scripts/books")

<p>
    @Html.ButtonGlyphicon("New book", Glyphicon.Add, new { id = "btnAdd", @class = "btn btn-outline-success" })
</p>
<p>
    @Html.Partial("_Details")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ranking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PageCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ranking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PageCount)
        </td>
        <td>
            @Html.ButtonGlyphicon(null, Glyphicon.Edit, new { key = item.Id, @class = "btn btn-outline-warning btn-edit" })
            @Html.ButtonGlyphicon(null, Glyphicon.Delete, new { key = item.Id, @class = "btn btn-outline-danger btn-delete" })
        </td>
    </tr>
    }

</table>
<script>
    NavMenu.Activate(NavMenu.ITEMS.Books);
    BookList.Initialize();
</script>