<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Styles/Bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="~/Styles/Bootstrap-datepicker/gijgo.css" rel="stylesheet" />
    <link href="~/Styles/FontAwesome/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/Styles/WaitMe/waitMe.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/bundles/styles/main")


    <script src="~/Scripts/External/jquery-3.3.1.js"></script>
    <script src="~/Scripts/External/popper.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/External/gijgo.js"></script>
    <script src="~/Scripts/External/knockout-3.4.2.js"></script>
    <script src="~/Scripts/External/knockout.mapping-latest.js"></script>
    <script src="~/Scripts/External/knockout.validation.js"></script>
    <script src="~/Scripts/External/waitMe.js"></script>
    <script src="~/Scripts/External/moment.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/ko")
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts/main")

    <title>Book catalog</title>
</head>
<body>

    @Html.Partial("_Validation")

    <header>
        @Html.Partial("_NavMenu")
    </header>
    <content>
        <div class="m-2">
            @RenderBody()
        </div>
    </content>

    @Html.Partial("_Modals")

    <script>
        Config.Layout();
    </script>
</body>
</html>
