@using BookCatalog.Portal.Helpers.Extentions
@using BookCatalog.Portal.Helpers.KnownValues

@model IEnumerable<BookCatalog.View.Model.AuthorVM>

@System.Web.Optimization.Scripts.Render("~/bundles/scripts/authors")

<p>
    @Html.ActionGlyphiconLink("New author", Glyphicon.Add, "Create", new { @class = "btn btn-outline-success", role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionGlyphiconLink(null, Glyphicon.Edit, "Edit", new { id = item.Id }, new { key = item.Id, @class = "btn btn-outline-warning btn-edit" })
                @Html.ButtonGlyphicon(null, Glyphicon.Delete, new { key = item.Id, @class = "btn btn-outline-danger btn-delete" })
            </td>
        </tr>
    }

</table>
<script>
    NavMenu.Activate(NavMenu.ITEMS.Authors);
    AuthorList.Initialize();
</script>