@using BookCatalog.Portal.Helpers.Extentions
@using BookCatalog.Portal.Helpers.KnownValues

@model IEnumerable<BookCatalog.View.Model.AuthorVM>

<p>
    @Html.ActionGlyphiconLink("New author", Glyphicon.Add, "Create", new { @class = "btn btn-outline-success", role = "button" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script>
    NavMenu.Activate(NavMenu.ITEMS.Authors);
</script>